<%- include('../../partials/top') %>
<!-- main content -->
    <div class="content-main" id="content-main">
        <div>
            <div class="padding">
                <div class="row">
                    <div class="col-12">
                        <h5>Profile / Portfolio</h5><hr/>
                    </div>
                    <div class="col-12">
                        <div class="box p-3">
                            <div class="row p-3 justify-content-center">
                                <div class="col-4">
                                    <img src="/static/user/assets/user.jpeg" width="100px" alt="...">
                                </div>
                                <div class="col-4" style="border-left: solid 2px #eee;">
                                    <h5><%=user.username%></h5>
                                    <p><i class="fa fa-address-card small"></i><%=prof.type%> Account <br/>
                                    <i class="fa fa-envelope-square small"></i> <%=user.email%> <br/>
                                    <i class="fa fa-address-card small"></i><%=prof.address%><br/>
                                    <i class="fa fa-phone small"></i><%=prof.telNo%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <h5>Your Wallets </h5>
                    </div>
                    <div class="col-4">
                        <form method="POST" action="/<%=url%>/wallet/generate">
                            <button type="submit" class="btn btn-md info">Generate Wallet</button>
                        </form>
                    </div>
                </div><hr/>
                <div class="row">
                    <% wallets.forEach((wallet)=>{%>
                    <div class="col-3 col-md-3 col-lg-3">
                        <div class="box p-3">
                            <div class="row text-center">
                                <div class="col-12 text-center">
                                    <span class="text-dark text-md">
                                        <i class="cc <%=wallet.CSF%>"></i><%=wallet.currency%> 
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="pt-3 text-center"><span class="text-muted text-center text-small"><small>Wallet Amount </small></span></div>
                                    <div class="pb-3 text-center text-lg"><%= parseFloat(wallet.amount)%> <%= wallet.CSF.toUpperCase()%></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-12 col-xl-6">
                        <div class="box p-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mt-0">
                                        <h2 class="text-lg text-dark">$<span id="grandtotal"></span></h2>
                                    </div>
                                    <p class="pt-3">Overall balance</p>
                                    <div class="d-flex">
                                        <p><a href="/<%=url%>/deposit" class="btn btn-fw primary mr-2">Deposit</a></p>
                                        <p><a href="/<%=url%>/Withdraw" class="btn btn-fw success">Withdraw</a></p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="text-sm">Portfolio Distribution</h5>
                                    <div class="list-group">
                                        <%tt=0%>
                                        <%wallets.forEach((w)=>{%>
                                            <%tt+=parseInt(w.amount)%>
                                        <div class="row">
                                            <div class="col-3">
                                                <p class="mb-0"><%=w.CSF%> | </p>
                                            </div>
                                            <div class="col-9 d-flex">
                                                <div class="progress my-2 blue mr-2" style="height:3px;width: <%= (parseInt(w.amount)/tt)*100%>%;">
                                                    <span class="progress-bar" role="progressbar" aria-valuenow="<%= (parseInt(w.amount)/tt)*100 ? (parseInt(w.amount)/tt)*100 :0%>" aria-valuemin="0" aria-valuemax="100"></span>
                                                </div>
                                                <span class="gx-ml-2"><%= (parseInt(w.amount)/tt)*100 ? (parseInt(w.amount)/tt)*100 :0%>%</span>
                                            </div>
                                        </div>
                                        <br/>
                                        <%})%>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end main content -->
<script>
    $(document).ready(function() {
        // alert("document ready occurred!"); 
        var total = document.getElementById('grandtotal');
        axios.get(`/<%=url%>/api/dashboard/fetch`).then(async(response)=>{
            let data = response.data
            console.log(data)
            total.innerHTML = parseInt(data.grandTotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            var wallets = data.coins
            for(var wal of wallets){
                var value = document.getElementById(wal.tag); 
                cur = wal.tag === 'LTCT' ? "bitcoin" : wal.tag === 'USD' ? 'bitcoin':wal.gid.toLowerCase()
                rate = await axios.get('https://api.coingecko.com/api/v3/coins/'+cur)
                value.innerText = parseInt(rate.data.market_data.current_price.usd).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                console.log(value, cur)
            }
        }).catch((err)=>{
            console.log(err)
        }) 
    })
</script>
<%- include('../../partials/footer') %>