<%- include('../../partials/top') %>
<!-- main content --> <div class="padding">
                    <div class="row"><%tab = l.query.tab%>
                        <div class="col-md-6 offset-md-3">
                            <div class="box">
                                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link <%if(tab=='buy'){%>active b-0<%}%> b-0" id="buyCoinLinks" data-toggle="tab"
                                            href="#buyCoin">Buy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link <%if(tab=='sell'){%>active b-0<%}%>" id="sellCoinLinks" data-toggle="tab"
                                            href="#sellCoin">Sell</a>
                                    </li>
                                </ul>
                                <div class="box-divider m-0"></div>
                                <div class="box-body">
                                    <div class="tab-content">
                                        <form id="buyCoin" class="tab-pane fade <%if(tab=='buy'){%>show active<%}%>" role="tabpanel" method="POST" action="/<%=url%>/exchange/buy">
                                            <h3 class="text-center">Buy</h3>
                                            <div class="form-group">
                                                <label class="mb-1 justify-content-start" for="Select Coin">Select the
                                                    Crypto Currency to buy ‘Minimum Value 0.005 BTC’</label>
                                                <select id="currency" class="form-control input-c" name="Bcurrency" id="selectCryptocurrency">
                                                    <option disabled selected>Select Currency</option>
                                                    <%for(const coin of buys) {%>
                                                        <option id="<%=coin.tag%>" value="<%=coin.tag%>" data-data="<%=coin.gid%>"><%=coin.name%> - (<%=coin.tag%>)</option>
                                                    <%}%>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="mb-1 justify-content-start" for="Select Coin">Select the Payment</label>
                                                <select class="form-control input-c" name="Pay" id="selectCryptocurrency">
                                                    <option disabled selected>Select Payment Option</option>
                                                        <option value="Bank">Bank Transfer</option>
                                                        <option value="Bank">PayPal</option>
                                                </select>
                                            </div>
                                            <div class="row m-b">
                                                <div class="col-6">
                                                    <label>Amount in <span id="cyptoT">BTC</span></label>
                                                    <input type="number" id="amtCypto" name="amountBTC" step="any" class="form-control" placeholder="$0.00" onInput="UCurrentValue(event)" required>
                                                </div>
                                                <div class="col-6">
                                                    <label>Amount in USD</label>
                                                    <input type="number" id="amtUSD" name="amountUSD" step="any" class="form-control" placeholder="$0.00" onInput="CCurrentValue(event)" readonly>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn success" style="width: 300px;">Buy Coin</button>
                                            </div>
                                        </form>
                                        <!-- Sell -->
                                        <form id="sellCoin" class="tab-pane fade <%if(tab=='sell'){%>show active<%}%>" role="tabpanel" method="POST" action="/<%=url%>/exchange/sell">
                                            <h3 class="text-center">Sell</h3>
                                            <div class="form-group">
                                                <label class="mb-1 justify-content-start" for="Select Coin">Select the
                                                    Crypto Currency to Sell </label>
                                                    <select class="form-control input-c" name="Scurrency"  id="selectWallet">
                                                        <%for(const coin of sells) {%>
                                                            <option value="<%=coin.tag%>"><%=coin.name%> - (<%=coin.tag%>)</option>
                                                        <%}%>
                                                    </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="mb-1 justify-content-start" for="Select Coin">Select the
                                                    Crypto Currency to Recieve Payment</label>
                                                    <select class="form-control input-c" name="Pcurrency"  id="selectWallet">
                                                        <%for(const coin of pays) {%>
                                                            <option value="<%=coin.tag%>"><%=coin.name%> - (<%=coin.tag%>)</option>
                                                        <%}%>
                                                    </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="Amount">Amount</label>
                                                <input class="form-control input-c" type="number" name="amount"
                                                    id="amount" placeholder="0.00" step="any">
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn success" style="width: 300px;">Sell Coin</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- end main content -->

<script>
    $(document).ready(function(){
        $("#currency").change(function(){
            var selectedCurrency = $(this).children("option:selected").text();
            var title = document.getElementById('cyptoT');
            title.innerText = selectedCurrency
            // console.log(selectedCurrency, title);
        });
        UCurrentValue =async(event)=>{
            value = event.target.value
            wals = $( "#currency option:selected" );
            var wal = document.getElementById(wals.val()); 
            va = wal.dataset.data
            price = await getrate(va, wals.val())
            var title = document.getElementById('amtUSD');
            title.value = (value*price).toFixed(2)
            // console.log(value, price)
        }
        CCurrentValue =async(event)=>{
            value = event.target.value
            wals = $( "#currency option:selected" );
            var wal = document.getElementById(wals.val()); 
            va = wal.dataset.data
            price = await getrate(va, wals.val())
            var title = document.getElementById('amtCypto');
            title.value = (value/price).toFixed(2)
            // console.log(value, price)
        }
        getrate=async(val,wal)=>{
            cur = wal=== 'LTCT' ? "bitcoin" : wal=== 'USD' ? 'bitcoin':val.toLowerCase()
            rate = await axios.get('https://api.coingecko.com/api/v3/coins/'+cur)
            return rate.data.market_data.current_price.usd
        }

    });
</script>
<%- include('../../partials/footer') %>

