<%- include('../../partials/top') %>
<!-- main content --> <div class="padding">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="box">
                                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active b-0" id="buyCoinLinks" data-toggle="tab"
                                            href="#buyCoin">Buy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="sellCoinLinks" data-toggle="tab"
                                            href="#sellCoin">Sell</a>
                                    </li>
                                </ul>
                                <div class="box-divider m-0"></div>
                                <div class="box-body">
                                    <div class="tab-content">
                                        <form id="buyCoin" class="tab-pane fade show active" role="tabpanel" method="POST" action="/<%=url%>/exchange/buy">
                                            <h3 class="text-center">Buy</h3>
                                            <div class="form-group">
                                                <label class="mb-1 justify-content-start" for="Select Coin">Select the
                                                    Crypto Currency ‘Minimum Value 0.005 BTC’</label>
                                                <select class="form-control input-c" name="currency" id="selectCryptocurrency">
                                                    <%for(const coin of coins) {%>
                                                        <option value="<%=coin.tag%>"><%=coin.name%> - (<%=coin.tag%>)</option>
                                                    <%}%>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="buyAmount">Amount </label>
                                                <input class="form-control input-c" type="number" name="amount" id="buyAmount" placeholder="0.00" step="any">
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn success" style="width: 300px;">Buy Coin</button>
                                            </div>
                                        </form>
                                        <!-- Sell -->
                                        <form id="sellCoin" class="tab-pane fade" role="tabpanel" method="POST" action="/<%=url%>/exchange/sell">
                                            <h3 class="text-center">Sell</h3>
                                            <div class="form-group">
                                                <label class="mb-1 justify-content-start" for="Select Coin">Select the
                                                    Crypto Currency ‘Minimum Value 0.005 BTC’</label>
                                                    <select class="form-control input-c" name="wallet"  id="selectWallet">
                                                        <%for(const coin of wallets) {%>
                                                            <option value="<%=coin.tag%>"><%=coin.currency%> - (<%=coin.amount%>)</option>
                                                        <%}%>
                                                    </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="Amount">Amount</label>
                                                <input class="form-control input-c" type="number" name="amount"
                                                    id="amount" placeholder="0.00" step="any">
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn success" style="width: 300px;">Sell Coin</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- end main content -->
<%- include('../../partials/footer') %>
