<div id="aside" class="app-aside fade nav-expand white" aria-hidden="true">
    <div class="sidenav modal-dialog dk white">
        <div class="navbar"><a href="/" class="navbar-brand"><svg viewBox="0 0 24 24" height="28"
                    width="28" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M19.51 3.08L3.08 19.51c.09.34.27.65.51.9.25.24.56.42.9.51L20.93 4.49c-.19-.69-.73-1.23-1.42-1.41zM11.88 3L3 11.88v2.83L14.71 3h-2.83zM5 3c-1.1 0-2 .9-2 2v2l4-4H5zm14 18c.55 0 1.05-.22 1.41-.59.37-.36.59-.86.59-1.41v-2l-4 4h2zm-9.71 0h2.83L21 12.12V9.29L9.29 21z" fill="#fff" class="fill-theme" /></svg> <img
                    src="http://flatfull.com/themes/apply/assets/images/logo.png" alt="." class="hide"> <span
                    class="hidden-folded d-inline"><%=site_title%></span></a></div>
        <div class="flex hide-scroll">
            <div class="scroll">
                <div class="nav-active-theme" data-nav>
                    <ul class="nav bg">
                        <li class="nav-header"><span class="text-xs hidden-folded">Main</span></li>
                        <li class="active">
                            <a href="/<%= url %>"><span class="nav-icon">
                                    <i class="fa fa-dashboard"></i></span>
                                <span class="nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="<%if('/'+url+'/buy-sell'==c_url){%> active <%};%>">
                            <a href="/<%= url %>/buy-sell"><span class="nav-icon">
                                    <i class="fa fa-shopping-cart"></i></span>
                                <span class="nav-text">Buy & Sell</span>
                            </a>
                        </li>
                        <li>
                            <a><span class="nav-caret"><i class="fa fa-caret-down"></i></span> <span class="nav-icon">
                                <i class="fa fa-align-left"></i></span> <span class="nav-text">Transactions</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="<%if('/'+url+'/transactions/deposit'==c_url){%> active <%};%>">
                                    <a href="/<%= url %>/transactions/deposit"><span class="nav-text">Deposits History</span></a>
                                </li>
                                <li class="<%if('/'+url+'/transactions/withdraw'==c_url){%> active <%};%>">
                                    <a href="/<%= url %>/transactions/withdraw"><span class="nav-text">Withdrawal History</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="<%if('/'+url+'/wallet'==c_url){%> active <%};%>">
                            <a href="/<%= url %>/wallet"><span class="nav-icon">
                                    <i class="fa fa-bank"></i></span>
                                <span class="nav-text">Wallet</span>
                            </a>
                        </li>
                        <li class="<%if('/'+url+'/settings'==c_url){%> active <%};%>">
                            <a href="/<%= url %>/settings"><span class="nav-icon">
                                    <i class="fa fa-cog"></i></span>
                                <span class="nav-text">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="/<%= url %>/logout"><span class="nav-icon">
                                    <i class="fa fa-sign-out"></i></span>
                                <span class="nav-text">Logout</span>
                            </a>
                        </li>
                </div>
            </div>
        </div>
    </div>
</div>