<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<div>
    <!-- market value slider -->
    <section id="main-content" class="">
        <div id="demos">
           <h2 style="display:none;">heading</h2>
           <div id="carouselTicker" class="carouselTicker">
               <ul class="carouselTicker__list" style="min-width: 100%;">
                  <% coins.forEach((coin)=>{%>
                  <li class="carouselTicker__item">
                     <div class="coin_info">
                        <div class="inner">
                           <div class="coin_name text-center">
                              <%=coin.name%><span id="btc_update_change_minus"><%=coin.data.update%></span>
                           </div>
                           <div class="coin_price">
                              <span id="btc_price" style="color: #fff;margin-left:-10">$<%=coin.data.price%></span>
                              <span id="btc_scsl__change_minus"><%=coin.data.change%> %</span>
                           </div>
                           <div id="btc_volume" class="coin_time"><%=coin.data.volume%></div>
                        </div>
                     </div>
                  </li>
                  <%})%>
               </ul>
           </div>
        </div>
     </section>
     <!-- market value slider end -->
     <!-- full slider parallax section -->
     <section id="full_slider" class="full_slider_inner padding_0">
        <div class="main_slider">
           <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">
              <!-- Wrapper For Slides -->
              <div class="carousel-inner" role="listbox">
                 <!-- first Slide -->
                 <div class="item active">
                    <!-- Slide Background -->
                    <img src="/static/fnt/images/slider_img2.png" alt="Bootstrap Touch Slider" class="slide-image" />
                    <div class="container">
                       <div class="row">
                          <!-- Slide Text Layer -->
                          <div class="slide-text slide_style_left white_fonts">
                             <h2 data-animation="animated">The <span style="color: #e9d16f;">Future of Money</span><br>is Here</h2>
                             <a href="/user/register" class="btn btn-default active">Get started</a>
                             <a href="/user/register" class="btn btn-default">Free Account</a>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- end of Slide -->
                 <!-- second Slide -->
                 <div class="item">
                    <!-- Slide Background -->
                    <img src="/static/fnt/images/slider_img1.png" alt="Bootstrap Touch Slider" class="slide-image" />
                    <div class="container">
                       <div class="row">
                          <!-- Slide Text Layer -->
                          <div class="slide-text slide_style_left white_fonts">
                             <h2 data-animation="animated"><span style="color: #e9d16f;">Coinremits</span><br>Is The Easiest Way To Buy/Sell<br>And Accept Cryptocurrencies Globally</h2>
                             <a href="/user/register" class="btn btn-default active">Get started</a>
                             <a href="/user/register" class="btn btn-default">Free Account</a>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- second of Slide -->
              </div>
              <!-- End of Wrapper For Slides -->
              <!-- Left Control -->
              <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
              <span class="fa fa-angle-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
              </a>
              <!-- Right Control -->
              <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
              <span class="fa fa-angle-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
              </a>
           </div>
           <!-- End  bootstrap-touch-slider Slider -->
        </div>
     </section>
     <!-- end full slider parallax section -->
     <!-- section -->
     <section class="padding_0 info_coins">
        <div class="container">
           <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="full">
                    <h2 style="display:none;">heading</h2>
                    <div class="coin_formation">
                       <ul>
                          <li>
                             <span class="curr_name">Bitcoin Price</span>
                             <span id="usd_curr_price" class="curr_price">23456 USD</span>
                          </li>
                          <li>
                             <span class="curr_name">Bitcoin Price</span>
                             <span id="eur_curr_price" class="curr_price">2321.68 EUR</span>
                          </li>
                          <li>
                             <span class="curr_name">24H Volume</span>
                             <span id="btc_curr_price" class="curr_price">1,957.25 BTC</span>
                          </li>
                          <li>
                             <span class="curr_name">Active Traders</span>
                             <span class="curr_price">1,169,857 EUR</span>
                          </li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- end section -->
     <!-- section -->
     <section class="layout_padding">
        <div class="container">
           <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="full">
                    <div class="heading_main">
                       <h2><span>Crypto Live Exchange Rates</span></h2>
                       <p>Minimum purchase is 50 Coins tokens. Get a bonus from 5% to 25%<br>on every token purchase</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row">
            <% rates.forEach((coin)=>{%>
              <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="full">
                    <div class="rate_box" style="background:<%=coin.bg%>">
                       <div class="inner_rate_box">
                          <div class="coin__sort_name_rates"><%=coin.id%></div>
                          <div class="coin_name_rates"><%=coin.name%></div>
                          <div class="vcw_full_lenth">
                             <div class="vcw_price">
                                <div class="curry_pr">USD</div>
                                <div class="value_pr"><%=coin.data.price%></div>
                             </div>
                             <div class="vcw_price">
                                <div class="curry_pr">EUR</div>
                                <div class="value_pr"><%=coin.data.priceEr%></div>
                             </div>
                             <div class="vcw_price">
                                <div class="curry_pr">Market</div>
                                <div class="value_pr"><%=coin.data.mcap%>%</div>
                             </div>
                          </div>
                          <div class="vcw_full_lenth final_pric">
                             <div class="vcw_price">
                                <div class="curry_pr pert"><%=coin.data.update%>%</div>
                                <!-- <div class="value_pr"><i class="fa fa-arrow-circle-o-down"></i> -2.36</div> -->
                             </div>
                             <div class="vcw_price">
                                <div class="curry_pr"><%=coin.data.seven%>%</div>
                                <!-- <div class="value_pr"><i class="fa fa-arrow-circle-o-up"></i> +1.36</div> -->
                             </div>
                             <div class="vcw_price">
                                <div class="curry_pr"><%=coin.data.one%>%</div>
                                <!-- <div class="value_pr"><i class="fa fa-arrow-circle-o-down"></i> -0.89</div> -->
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <%})%>
            </div>
           <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="full table-responsive">
                    <table class="table table-striped">
                       <thead>
                          <tr>
                             <th>Symbol</th>
                             <th>Name</th>
                             <th>USD</th>
                             <th>Change 24h</th>
                             <th>Change 7d</th>
                             <th>Change 14d</th>
                          </tr>
                       </thead>
                       <tbody>
                        <% rates.forEach((coin)=>{%>
                          <tr class="active_table">
                             <td><%=coin.id%></td>
                             <td><%=coin.name%></td>
                             <td><%=coin.data.price%></td>
                             <td style="color:<%if(coin.data.update>0){%>lightgreen<%}else{%>red<%}%>"><%=coin.data.update%>%</td>
                             <td style="color:<%if(coin.data.seven>0){%>lightgreen<%}else{%>red<%}%>"><%=coin.data.seven%>%</td>
                             <td style="color:<%if(coin.data.one>0){%>lightgreen<%}else{%>red<%}%>"><%=coin.data.one%>%</td>
                          </tr>
                        <%})%>
                          <!-- <tr>
                             <td>ETH</td>
                             <td>Ethereum</td>
                             <td>1,094</td>
                             <td style="color:lightgreen">+0.17%</td>
                             <td style="color:red">-3.25%</td>
                             <td style="color:red">-2.02%</td>
                          </tr>
                          <tr>
                             <td>XRP</td>
                             <td>Ripple</td>
                             <td>1.574</td>
                             <td style="color:red">-0.1%</td>
                             <td style="color:lightgreen">+5.85%</td>
                             <td style="color:red">-6.41%</td>
                          </tr>
                          <tr>
                             <td>LTC</td>
                             <td>Litecoin</td>
                             <td>164.5</td>
                             <td style="color:red">-0.5%</td>
                             <td style="color:lightgreen">-6.11%</td>
                             <td style="color:lightgreen">-1.19%</td>
                          </tr>
                          <tr>
                             <td>DASH</td>
                             <td>Dash</td>
                             <td>679.5</td>
                             <td style="color:lightgreen">+0.02%</td>
                             <td style="color:red">-9.89%</td>
                             <td style="color:lightgreen">+8.89%</td>
                          </tr> -->
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- end section -->
     <!-- section -->
     <section class="layout_padding dark_bg white_fonts">
        <div class="container">
           <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="full">
                    <div class="heading_main">
                       <h2><span>Why Choose Coinremits?</span></h2>
                       <p>Investments and employment of the Blockchain Technologies. Optimize your business<br>case with blockchain technology and Smart Contracts.</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row" style="margin-top:20px;">
              <div class="col-md-4 col-sm-4 col-xs-12">
                 <div class="full">
                    <div class="cryto_feature">
                       <ul>
                          <li>
                             <div class="pull-left"><img src="/static/fnt/images/f2.png" alt="#" /></div>
                             <div>
                                <h3>Fast Transaction</h3>
                                <p>Built with latest and advanced technologies, Coinremits is lightweight thus providing near instant buy and sell orders for newbies or seasoned traders.</p>
                             </div>
                          </li>
                          <li>
                             <div class="pull-left"><img src="/static/fnt/images/f3.png" alt="#" /></div>
                             <div>
                                <h3>Secure and Stable</h3>
                                <p>Everything is encrypted from end-to-end keeping your digital assets safe when buying, selling or storing</p>
                             </div>
                          </li>
                          <li>
                             <div class="pull-left"><img src="/static/fnt/images/f4.png" alt="#" /></div>
                             <div>
                                <h3>Coin Exchange</h3>
                                <p>People love our easy-to-use products. From local payment methods to customer support, we make your Bitcoin experience the best one.</p>
                             </div>
                          </li>
                       </ul>
                    </div>
                 </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                 <div class="full digital_earth">
                    <img src="/static/fnt/images/bg3_new.png" alt="#" />
                 </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                 <div class="full">
                    <div class="cryto_feature right_text">
                       <ul>
                          <li>
                             <div>
                                <h3>Mobile Apps</h3>
                                <p>Easy access via your mobile device at your convenience</p>
                             </div>
                             <div class="pull-right"><img src="/static/fnt/images/f5.png" alt="#" /></div>
                          </li>
                          <li>
                             <div>
                                <h3>24/7 Trading</h3>
                                <p>Our services are readily accessible any time</p>
                             </div>
                             <div class="pull-right"><img src="/static/fnt/images/f6.png" alt="#" /></div>
                          </li>
                          <li>
                             <div>
                                <h3>Free Consulting</h3>
                                <p>Our technical support are available and at your reach</p>
                             </div>
                             <div class="pull-right"><img src="/static/fnt/images/f1.png" alt="#" /></div>
                          </li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- end section -->
     <!-- section -->
     <section class="layout_padding">
        <div class="container">
           <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="full our_work_type">
                    <div class="center"><img src="/static/fnt/images/icon_1_b.png" alt="#" /></div>
                    <div class="center">
                       <h4>Licensed in Luxembourg</h4>
                    </div>
                    <div class="center">
                       <p>Taking the time to manage your money really pay off.</p>
                    </div>
                 </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="full our_work_type">
                    <div class="center"><img src="/static/fnt/images/icon_2_b.png" alt="#" /></div>
                    <div class="center">
                       <h4>No Hidden Fees</h4>
                    </div>
                    <div class="center">
                       <p>Taking the time to manage your money really pay off.</p>
                    </div>
                 </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="full our_work_type">
                    <div class="center"><img src="/static/fnt/images/icon_3_b.png" alt="#" /></div>
                    <div class="center">
                       <h4>Instant Trading</h4>
                    </div>
                    <div class="center">
                       <p>Taking the time to manage your money really pay off.</p>
                    </div>
                 </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="full our_work_type">
                    <div class="center"><img src="/static/fnt/images/icon_4_b.png" alt="#" /></div>
                    <div class="center">
                       <h4>Secure and Transparent</h4>
                    </div>
                    <div class="center">
                       <p>Taking the time to manage your money really pay off.</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <hr>
              </div>
           </div>
           
        </div>
     </section>
     <!-- end section -->
</div>
<%- include('./partials/footer.ejs') %>