<%- include('../partials/top') %>
<div class="content-main" id="content-main">
    <div>
        <div class="d-sm-flex">
            <div class="w w-auto-xs light bg bg-auto-sm b-r">
                <div class="py-3"><%tab = l.query.tab%>
                    <div class="nav-active-border left b-primary">
                        <ul class="nav flex-column nav-sm">
                            <li class="nav-item"><a class="nav-link  <%if(l.query.tab=='profile'){%>active<%}%>" href="#" data-toggle="tab"
                                    data-target="#tab-1">Profile</a></li> 
                            <li class="nav-item"><a class="nav-link <%if(tab=='account'){%>active<%}%>" href="#" data-toggle="tab" data-target="#tab-2">Account
                                    Settings</a></li>
                            <li class="nav-item"><a class="nav-link <%if(tab=='security'){%>active<%}%>" href="#" data-toggle="tab"
                                    data-target="#tab-5">Security</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col p-0">
                <div class="tab-content pos-rlt">
                    <%var acct = profile.Account_Details?JSON.parse(profile.Account_Details):[]%>
                    <div class="tab-pane <%if(tab=='profile'){%>active<%}%>" id="tab-1">
                        <div class="p-4 b-b _600">Public profile</div>
                        <form class="p-4 col-md-6" method="POST" action="/<%=url%>/profile/update">
                            <!-- <div class="form-group">
                                <label>Profile picture</label>
                                <div class="row">
                                    <div class="col-sm-3" href="#">
                                        <span class="avatar w-96">
                                            <img src="/static/user/assets/<%=profile.pics%>" alt=".">
                                            <i class="on"></i>
                                        </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-file" style="margin-top: 40px;">
                                            <input type="file"> 
                                            <button class="btn white">Upload new picture</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="form-group"><label>First Name</label><input type="text" name="fname" value="<%=profile.firstName%>" class="form-control" required></div>
                            <div class="form-group"><label>Last Name</label><input type="text" name="lname"  value="<%=profile.lastName%>" class="form-control" required></div>
                            <div class="form-group"><label>Tel</label><input type="text" name="telNo" value="<%=profile.telNo%>"  class="form-control" required></div>
                            <div class="form-group"><label>Company</label><input type="text" name="company" class="form-control" required></div>
                            <div class="form-group"><label>Location</label><input type="text"  value="<%=profile.location%>"  name="location" class="form-control" required></div>
                            <br />
                            <button type="submit" class="btn primary mt-2">save</button>
                        </form>
                    </div>
                    <div class="tab-pane <%if(tab=='account'){%>active<%}%>" id="tab-2">
                        <div class="p-4 b-b _600">Account settings</div>
                        <form class="p-4 col-md-6" method="POST" action="/<%=url%>/settings/update">
                            <div class="form-group"><label>Bank</label><input type="text"
                                    class="form-control" value="<%=acct.bankName%>" name="bName"></div>
                            <div class="form-group"><label>Bank Address</label><input type="text"name="bAddress" value="<%=acct.bankAddress%>" class="form-control"></div>
                            <div class="form-group"><label>Bank Account Name</label><input type="text"
                                    class="form-control" value="<%=acct.accountName%>" name="aName"></div>
                            <div class="form-group"><label>Account Number</label><input type="text" value="<%=acct.accountNo%>" class="form-control" name="aNo"></div>
                            <button type="submit" class="btn primary m-t">Update</button>
                        </form>
                    </div>
                    <div class="tab-pane <%if(tab=='security'){%>active<%}%>" id="tab-5">
                        <div class="p-4 b-b _600">Security</div>
                        <div class="p-4">
                            <div class="clearfix">
                                <form role="form" class="col-md-6 p-0" method="POST" action="/<%=url%>/password/update">
                                    <div class="form-group"><label>Old Password</label><input type="password"
                                            name="oldPass" class="form-control"></div>
                                    <div class="form-group"><label>New Password</label><input type="password" name="newPass"
                                            class="form-control"></div>
                                    <div class="form-group"><label>New Password Again</label><input type="password" name="cnewPass"
                                            class="form-control"></div><button type="submit"
                                        class="btn primary mt-2">Update</button>
                                </form>
                            </div>
                            <!-- <p class="mt-4"><strong>Delete account?</strong></p><button type="submit" class="btn danger m-t"
                                data-toggle="modal" data-target="#modal">Delete
                                Account</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal" class="modal fade animate black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content flip-x">
            <div class="modal-body text-center">
                <p class="py-3 mt-3"><i class="fa fa-remove text-warning fa-3x"></i></p>
                <p>Are you sure to delete your account?</p>
            </div>
            <div class="modal-footer"><button type="button" class="btn white" data-dismiss="modal">No</button>
                <button type="button" class="btn danger" data-dismiss="modal">Yes</button></div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>