<%- include('../../partials/top') %>
<!-- main content -->

<div class="padding">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-4">
            <div class="box p-3">
                <div class="d-flex"><span class="text-muted">Active</span></div>
                <div class="py-3 text-center text-lg text-success"><%=active%></div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
            <div class="box p-3">
                <div class="d-flex"><span class="text-muted">Suspended Users</span></div>
                <div class="py-3 text-center text-lg text-danger"><%=suspended%></div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
            <div class="box p-3">
                <div class="d-flex"><span class="text-muted">Deleted Users</span></div>
                <div class="py-3 text-center text-lg text-primary"><%=deleted%></div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <p>DataTables</p>
            <div class="table-responsive">
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable" class="table v-middle p-0 m-0 box dataTable no-footer"style="width: 1168px;">
                                <thead>
                                    <tr role="row">
                                        <th>id</th>
                                        <th>Username
                                        </th>
                                        <th>Email
                                        </th>
                                        <th>Date
                                        </th>
                                        <th>Status</th>
                                        <th>Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%var no=1%>
                                    <%trans.forEach((t)=>{%>
                                    <tr>
                                        <td><%=no++%></td>
                                        <td><%=t.username%></td>
                                        <td><%=t.email%></td>
                                        <td><%=t.createdAt%></td>
                                        <td><%if(t.active){%>active<%}else{%>unactive<%}%></td>
                                        <td><a href="/<%=url%>/user/funds/add/<%=t._id%>" class="btn btn-fw primary mr-1"> Add Funds </a></td>
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>

<script>
    (function ($) {
        $("#datatable").dataTable();
    })(jQuery);

</script>
<!-- end of script -->
<%- include('../../partials/footer') %>
