<%- include('../partials/top') %>
<div class="padding">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-4">
            <div class="box p-3">
                <div class="d-flex"><span class="text-muted">Total Amount</span></div>
                <div class="py-3 text-center text-lg text-success">$<%=total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
            <div class="box p-3">
                <div class="d-flex"><span class="text-muted">Total Withdrawed Amount</span></div>
                <div class="py-3 text-center text-lg text-danger">$<%=w_total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
            <div class="box p-3">
                <div class="d-flex"><span class="text-muted">Total deposited amount</span></div>
                <div class="py-3 text-center text-lg text-primary">$<%=d_total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-12 col-xl-6">
            <div class="box">
                <div class="box-header">
                    <h2>Recently added customers</h2>
                </div>
                <table class="table table-striped b-t">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%var no=1%>
                        <%users.forEach((user)=>{%>
                        <tr>
                            <td><%=no++%></td>
                            <td><%=user.username%></td>
                            <td><%=user.email%></td>
                            <td><%if(user.active){%>active<%}else{%>unactive<%}%></td>
                            <td><%=user.createdAt%></td>
                        </tr>
                        <%})%>
                        <%if(users.length == 0){%>
                        <tr>
                            <td colspan="6" class="text-center">No Users Yet</td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6 col-md-12 col-xl-6">
            <div class="box">
                <!-- <div class="box-header">
                    <h3>Members</h3>
                </div> -->
                <div class="box-body">
                    <canvas id="chart-line-line" data-plugin="chart" height="120"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12">
            <p>DataTables</p>
            <div class="table-responsive">
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable" class="table v-middle p-0 m-0 box dataTable no-footer"style="width: 1168px;">
                                <thead>
                                    <tr role="row">
                                        <th>id</th>
                                        <th>Date
                                        </th>
                                        <th>Amount
                                        </th>
                                        <th>Type
                                        </th>
                                        <th>Status</th>
                                        <th>Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%trans.forEach((t)=>{%>
                                    <tr>
                                        <td><%=t.amount%>></td>
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>

<script>
    (function ($) {
        $("#datatable").dataTable();
    })(jQuery);

</script>

<script>
    var ctx = document.getElementById('chart-line-line');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Withdraw', 'Deposit', 'Tranasfer'],
                datasets: [{
                    label: 'Total Amount',
                    data: ['<%=w_total%>', '<%=d_total%>', 0,],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {}
        });

</script>
<%- include('../partials/footer') %>
